In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('./weather_data/PHX.csv')
df.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,98,86,109,82,107,65,115,1927,1990,0.00,0.02,2.68
1,2014-7-2,98,86,109,82,107,65,118,1911,2011,0.00,0.01,2.81
2,2014-7-3,94,79,108,82,107,64,117,1916,1907,0.00,0.02,0.22
3,2014-7-4,90,81,98,83,107,63,118,1912,1989,0.00,0.02,0.22
4,2014-7-5,94,84,103,83,107,63,116,1912,1983,0.01,0.02,0.18

In [9]:
df.describe()

,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,77.320548,65.761644,88.389041,63.501370,86.717808,43.016438,100.010959,1934.356164,1976.279452,0.027726,0.022000,0.770466
std,14.055375,14.095072,14.506228,14.070588,14.704034,14.946783,12.650626,24.477041,29.460417,0.205119,0.012649,0.537395
min,41.000000,31.000000,46.000000,44.000000,65.000000,16.000000,77.000000,1895.000000,1896.000000,0.000000,0.000000,0.010000
25%,66.000000,54.000000,77.000000,50.000000,72.000000,30.000000,88.000000,1913.000000,1956.000000,0.000000,0.010000,0.360000
50%,77.000000,65.000000,89.000000,62.000000,87.000000,40.000000,102.000000,1929.000000,1985.000000,0.000000,0.020000,0.710000
75%,90.000000,79.000000,101.000000,78.000000,102.000000,56.000000,112.000000,1961.000000,2000.000000,0.000000,0.030000,1.050000
max,105.000000,94.000000,116.000000,84.000000,107.000000,70.000000,122.000000,1990.000000,2015.000000,3.290000,0.050000,3.290000

In [12]:
# year with highest average temperature
df.groupby('date').mean()['actual_max_temp'].idxmax()

'2014-7-24'