In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./weather_data/KSEA.csv')
df.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,77,60,94,54,73,45,94,1948,2014,0.0,0.03,0.75
1,2014-7-2,70,58,81,54,73,43,93,1954,2015,0.0,0.03,0.50
2,2014-7-3,64,57,71,54,74,44,92,1954,2015,0.0,0.03,0.47
3,2014-7-4,66,57,75,54,74,43,92,1949,2015,0.0,0.03,0.57
4,2014-7-5,66,56,76,55,74,47,91,1951,1958,0.0,0.03,0.64

In [4]:
df.describe()

,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,56.542466,48.369863,64.189041,45.046575,60.317808,31.293151,76.131507,1962.709589,1983.230137,0.102548,0.102712,1.107178
std,10.437226,8.707561,12.867879,7.313657,10.737519,12.273400,13.671950,16.624424,18.870777,0.241871,0.062362,0.648280
min,30.000000,23.000000,37.000000,35.000000,45.000000,0.000000,54.000000,1948.000000,1945.000000,0.000000,0.010000,0.110000
25%,49.000000,43.000000,54.000000,37.000000,50.000000,22.000000,63.000000,1951.000000,1967.000000,0.000000,0.050000,0.660000
50%,56.000000,49.000000,62.000000,44.000000,59.000000,33.000000,76.000000,1955.000000,1985.000000,0.000000,0.090000,0.960000
75%,65.000000,55.000000,75.000000,52.000000,70.000000,42.000000,89.000000,1970.000000,1999.000000,0.060000,0.160000,1.410000
max,80.000000,65.000000,96.000000,57.000000,77.000000,50.000000,103.000000,2011.000000,2015.000000,2.200000,0.240000,5.020000

In [7]:
# year with highest average temperature
df.groupby('date').mean()['actual_max_temp'].idxmax()

'2014-8-11'

In [ ]:
import matplotlib.pyplot as plt